html {
    background: #e6e9e9;
}

body {
    background-color: white;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h2{
    margin: 0 auto;
    font-weight: normal;
}

a{
    font-style: italic;
    text-decoration: none;
}

li{
  padding: 0.1em;  
}
li:hover{
    font-style: oblique;
    padding: 1em;
    -webkit-box-shadow: 10px 4px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 4px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 4px 22px 0px rgba(0,0,0,0.75);
    transition: box-shadow 1s;

}